<section class="mb-5 pt-3">
    <div class="row ml-3">
        <div class="col-12">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-3">
            Afficher
        </div>
        <div class="col-9">
             {{ form_row(form.enable) }}
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12">
            {{ form_row(form.users) }}
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12">
            {{ form_row(form.content) }}
        </div>
    </div>
</section>