{% extends './mail/template.html.twig' %}

{% block title %} Erreur dans les mails {% endblock %}
{% block title_content %} Erreur dans les mails {% endblock %}

{% block body %}
        <p> Une erreur est rencontrée.</p>
        <p>
            La variable contexte est absente !
        </p>
{% endblock %}
